<section class="benefits">
    <div class="container">
  <h3>Чому обирають нас?</h3>
  <ul class="benefits-list">
    <li class="benefits-item">Професійний підхід</li>
    <li class="benefits-item">Менторська підтримка навіть без уроків</li>
    <li class="benefits-item">Підготовка до екзаменів в різних сферах </li>
    <li class="benefits-item">Гнучкий графік</li>
    <li class="benefits-item">Допомога зі вступом в університети Європи</li>
    <li class="benefits-item">Корпоративне навчання</li>
  </ul>
</div>
<div class="container">
  <h3>Визнач свій рівень</h3>
  <p>Не знаєш, з чого почати? Пройди наш тест і дізнайся свій рівень!</p>
  <button>Пройти тест</button>
  </div>
</section>