<section>
<header>
    <div >
      <nav>
        <a href="#">LOGO</a>
        <h1>Твоя комфортна англійська</h1>
        <ul>
            <li><a href="#about">Про нас</a></li>
            <li><a href="#advantages">Наші переваги</a></li>
            <li><a href="#contacts">Контакти</a></li>
        </ul>
    </nav>
   
 
    <ul>
      <li>
        <a
          href="https://www.instagram.com/go_ahead_english_school/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          title="посилання на instagram"
          >instagram</a>
      </li>
      <li><a href="https://t.me/kate_martynova7_7" target="_blank">Telegram</a></li>
    </ul>
  </div>
  </header>
</section>